header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    background-color: #3d3d3d;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    box-shadow: 0px 0px 7px #121212;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info h3 {
    width: 100px;
    max-width: 100px;
    font-size: 1em;
}

.add-new {
    padding: 10px 20px;
    background-color: #121212;
    box-shadow: 0px 0px 8px #181818;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #cccccc1a;
    font-weight: 600;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.add-new:hover {
    transform: scale(1.02);
    background-color: #ddd;
    color: #000;
}

aside ul {
    padding: 10px 0px;
    list-style: none;
    height: 70%;
    overflow-y: auto;
}

aside li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 5px;
    padding: 10px 0px;
    cursor: pointer;
    line-height: 150%;
    position: relative;
}

.only-hover {
    visibility: hidden;
    opacity: 0;
}

.quick-find {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    position: relative;
}

.quick-find input {
    width: 100%;
    padding: 14px;
    background-color: #121212;
    box-shadow: 0px 0px 8px #121212;
    border: 1px solid #2d2d2d;
    outline: none;
    border-radius: 3px;
    font-size: 0.9em;
    color: #fff;
    margin: 20px 0px;
}

.command-tip {
    background-color: #181818;
    padding: 8px 10px;
    position: absolute;
    top: 37px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 3px;
    box-shadow: 0px 0px 8px #121212;
    color: #8c8c8c;
    font-size: 0.85em;
    font-weight: 700;
    cursor: default;
}

.recolor {
    background-color: #e3e3e3;
    color: #080808;
    padding: 8px 10px;
    cursor: pointer;
}

.options {
    background-color: #121212;
    border: 1px solid #272727;
    padding: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 8px #121212;
    cursor: pointer;
    position: absolute;
    display: none;
}

#note-to-delete {
    display: none;
}