@import url(fonts.css);
@import url(aside.css);
@import url(view.css);
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #121212;
    color: #fff;
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

aside {
    width: 15%;
    background-color: #181818;
    padding: 15px;
}

.view {
    width: 85%;
    padding: 20px;
}