@import url(fonts.css);
@import url(aside.css);
@import url(view.css);
@import url(config.css);
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #121212;
    color: #fff;
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

aside {
    width: 15%;
    background-color: #181818;
    padding: 15px;
}

.flex {
    width: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.flex section {
    width: 50%;
    text-align: center;
}

.view {
    width: 85%;
    padding: 20px;
}

@media only screen and (max-width: 1600px) {
    .editor-preview {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 1450px) {
    .editor-preview {
        max-width: 1000px;
    }
}