.notify {
    background-color: #181818;
    padding: 10px;
    border: 1px solid #cccccc1e;
    width: 160px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 0px 8px #101010;
    position: absolute;
    left: 40%;
    top: 25px;
    transition: 0.3s;
    display: none;
}

#success {
    box-shadow: 0px 0px 8px #29ae00;
}

#warning {
    box-shadow: 0px 0px 8px #f3dc0f;
}

.view {
    position: relative;
}

.view>h4 {
    padding: 0px 20px;
    margin-top: 10px;
}

.file-name-field {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.file-name-field svg {
    font-size: 1.4em;
    margin-bottom: 4px;
    margin-right: 85px;
    cursor: pointer;
}

#rename {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 1.1em;
    outline: none;
    width: 230px;
    text-align: center;
}

#config {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 1.4em;
    cursor: pointer;
    box-shadow: 0px 0px 4px #161616;
    background-color: #181818;
    padding: 8px;
    border-radius: 3px;
}

.actions {
    padding: 4px;
    top: 15px;
    display: flex;
    background-color: #181818;
    position: absolute;
    right: 70px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #161616;
}

.actions svg {
    font-size: 24px;
    cursor: pointer;
    padding: 5px 10px;
}

#eye-off {
    display: none;
}

.editor-preview {
    padding: 20px;
    margin-top: 40px;
    height: 80vh;
    width: 95%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.editor {
    width: 70%;
    background-color: #181818;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #101010;
    padding: 10px;
    overflow-y: auto;
    transition: 0.3s;
}

.preview {
    display: none;
    border-radius: 4px;
    overflow-y: auto;
    padding: 20px;
    font-size: 1em;
    transition: 0.3s;
}

.preview>p {
    padding: 10px 0px;
    line-height: 150%;
}

.preview ul {
    padding: 15px 20px;
}

.preview img {
    width: 100%;
    max-width: fit-content;
    box-shadow: 0px 0px 8px #1c1c1c;
    border-radius: 3px;
}

.preview h1,
h2,
h3,
h4 {
    padding: 10px 0px;
}

.preview a {
    text-decoration: none;
    color: dodgerblue;
    letter-spacing: 0.5px;
}

.preview li>ul {
    padding: 10px 20px;
}

blockquote {
    padding: 10px;
    border-left: 5px solid #dddddd45;
    margin: 10px 0px;
    background: #3c3c3c0f;
    color: #7e7e7e;
}

pre[class*="language-"] {
    background: #2d2d2d29 !important;
    padding: 5px 10px !important;
}

.token.boolean,
.token.number,
.token.function {
    color: #50fa7b !important;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
    color: #f46df7 !important;
}

.cm-theme {
    width: 100%;
}

.ͼ1a {
    color: #f46df7;
}

.ͼ15,
.cm-gutters {
    background-color: transparent;
}

.ͼ3 .cm-gutters {
    background: transparent;
    color: #525252;
    font-weight: 600;
}

.ͼ1.cm-focused {
    outline: none;
}

.ͼ15 .cm-activeLineGutter {
    background: transparent;
}

.ͼ15 .cm-activeLine {
    background-color: rgb(255 255 255 / 2%);
}

.ͼ1 .cm-scroller {
    display: flex !important;
    /* align-items: flex-start !important; */
    font-family: monospace;
    line-height: none;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    z-index: 0;
}

.ͼ19 {
    color: #f22b60;
    font-weight: 500;
}

.ͼ1 .cm-content[contenteditable=true] {
    -webkit-user-modify: read-write !important
}

.ͼ4 .cm-line {
    font-family: 'Roboto Mono', monospace;
    color: #ffffff;
    white-space: break-spaces;
}

.cm-content {
    width: 80% !important;
}


/* width */

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 4px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #333333;
}