.download-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    margin-top: 50px;
}

.button-download {
    background: #121212;
    color: #fff;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    gap: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s;
}

.button-download:hover {
    border: 1px solid #DC586B;
    transform: scale(1.03);
}

.button-download img {
    fill: #fff !important;
    width: 25px;
    height: 25px;
    color: #fff;
}

.button-download p {
    position: relative;
    top: 2px;
}