header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    flex-direction: column;
}

.over {
    position: relative;
    right: -12px;
}

.double-over {
    right: -22px;
    z-index: 1;
}

.triple-over {
    right: -32px;
    z-index: 2;
}

.last {
    margin-right: 25px;
}

header>div {
    margin-top: 30px;
}

.members {
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

header img {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    box-shadow: 0px 0px 8px #161616;
    object-fit: cover;
    transition: 0.3s;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    max-width: 800px;
}

.img-field {
    display: flex;
    align-items: center;
    justify-content: center;
}

#screenshot {
    max-width: 1000px;
    width: 100%;
    transition: 0.3s;
}

#screenshot:hover {
    transform: scale(1.01);
}